// Страница Медиа
@include media-breakpoint-down(md)
{
    .media-list__year {
        position: absolute;
        z-index: 2;
        right: 15px;
        bottom: 90px;
    }
}

.media-list {
    margin: 0 0 50px;

    &__items {
        margin: 0 -7.5px;
    }
    &__item {
        position: relative;
        margin: 0 7.5px 20px;
        width: 310px;
    }
    &__link {
        display: block;
    }
    &__video-icon {
        height: 40px;
        width: 40px;
        position: absolute;
        background-color: var(--yellow);
        border-radius: 50%;
        top: 85px;
        left: 50%;
        transform: translate(-50%, -50%);

        &:after {
            content: "";
            position: absolute;
            border: 8px solid transparent;
            border-left: 13px solid var(--white);
            left: 50%;
            top: 50%;
            transform: translate(-5px, -50%);
        }
    }
    &__pict img {
        width: 100%;
    }
    &__box {
        padding: 20px;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(242,245,254,0.90);
        border-bottom: 2px solid var(--yellow);
        transition: all .3s linear;
    }
    &__item:hover .media-list__box {
        background-color: var(--white);
    }
    &__name {
        letter-spacing: 0;
        line-height: 16px;
        font-weight: 700;
        min-height: 32px;
        text-transform: uppercase;
        margin: 0 0 10px;
    }
    &__date {
        letter-spacing: 0;
        line-height: 16px;
    }
    &__btn-block {
        text-align: center;
        padding: 30px 0 0;
    }
}

@include media-breakpoint-between(sm, md)
{
    .media-list {

        &__items {
            margin: 0 -5px;
        }
        &__item {
            margin: 0 5px 10px;
            width: calc(50% - 10px);
        }
    }
}
@include media-breakpoint-only(md)
{
    .media-list {

        &__video-icon {
            top: 95px;
        }
    }
}
@include media-breakpoint-only(sm)
{
    .media-list {

        &__video-icon {
            top: 55px;
        }
    }
}
@include media-breakpoint-only(xs)
{
    .media-list {
        margin: 0;

        &__items {
            margin: 0;
        }
        &__item {
            margin: 0 0 10px;
            width: 100%;
        }
        &__video-icon {
            top: 50%;
        }
        &__btn-block {
            padding: 20px 0 0;
        }
    }
}