// Страница Новости - список
.news-list__year {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 50px;
}

@include media-breakpoint-down(md)
{
    .news-list__year {
        bottom: 17px;
    }
}

.news-list {
    margin: 0 0 50px;

    &__items {
        margin: 0 -7.5px;
    }
    &__item {
        position: relative;
        margin: 0 7.5px 20px;
        width: 300px;
    }
    &__pict img {
        width: 100%;
    }
    &__box {
        padding: 20px;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(242,245,254,0.90);
        border-bottom: 2px solid var(--yellow);
        transition: all .3s linear;
    }
    &__item:hover .news-list__box {
        background-color: var(--white);
    }
    &__name {
        letter-spacing: 0;
        line-height: 16px;
        font-weight: 700;
        min-height: 32px;
        text-transform: uppercase;
        margin: 0 0 10px;
    }
    &__date {
        letter-spacing: 0;
        line-height: 16px;
    }
    &__btn-block {
        text-align: center;
        padding: 30px 0 0;
    }
}

@include media-breakpoint-between(sm, md)
{
    .news-list {

        &__items {
            margin: 0 -5px;
        }
        &__item {
            margin: 0 5px 10px;
            width: calc(50% - 10px);
        }
    }
}
@include media-breakpoint-only(xs)
{
    .news-list {
        margin: 0;

        &__items {
            margin: 0;
        }
        &__item {
            margin: 0 0 10px;
            width: 100%;
        }
        &__btn-block {
            padding: 20px 0 0;
        }
    }
}