// Выбор города
.select-year {
    position: relative;
    background-color: var(--white);
    height: 40px;
    margin: 19px 0 0;
    padding: 0 10px;

    &__str {
        background: url(img/str.menu.svg) no-repeat 50%;
        width: 11px;
        height: 10px;
        content: "";
        display: inline-block;
        vertical-align: middle;

        &_left {transform: rotate(90deg);}
        &_right {transform: rotate(-90deg);}
        &:hover {
            background-image: url(img/str.blue.svg);
        }
    }
    &_name {
        font-weight: 700;
        text-transform: uppercase;
        transition: opacity .3s linear;

        &:hover {
            opacity: .5;
            text-decoration: none;
        }
    }
}