// Страница Команды - Вторая
.team-page-full {
    font-weight: 700;
    line-height: 28px;

    &__title {
        height: 28px;
        text-transform: uppercase;
        margin: 30px 0 25px;
    }
    &__items {}
    &__item {}
}