// Страница Команды - Первая
.team-page {

    &__items {
        margin: 0 -10px;
    }
    &__item {
        text-align: center;
        background-color: var(--white);
        border-bottom: 2px solid var(--yellow);
        margin: 0 10px 20px;
        width: calc(25% - 20px);
    }
    &__pict img {
        width: 100%;
    }
    &__box {
        padding: 30px 10px;
        position: relative;
    }
    &__num {
        background: var(--yellow);
        box-shadow: 0 10px 12px 0 rgba(239,119,17,.25);
        height: 40px;
        font-weight: 900;
        font-size: 20px;
        color: var(--white);
        text-align: center;
        line-height: 40px;
        width: 40px;
        border-radius: 50%;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translate(-50%, -50%);
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }
    &__date {
        font-size: 12px;
        color: var(--gray-500);
    }
    &__number-block {
        margin: 30px 20px 0;
    }
    &__number-item {
        text-align: center;

        & b {
            font-size: 18px;
            line-height: 24px;
            display: block;
        }
        & span {
            display: block;
            font-size: 12px;
            text-transform: uppercase;
            color: var(--gray-500);
        }
    }
}

@include media-breakpoint-between(sm, md)
{
    .team-page {

        &__item {
            width: calc(50% - 20px);
        }
    }
}
@include media-breakpoint-only(xs)
{
    .team-page {

        &__items {
            margin: 0;
        }
        &__item {
            width: 100%;
            margin: 0 0 10px;
        }
        &__pict {
            width: 55%;
        }
        &__box {
            width: 45%;
            padding: 0 10px;
        }
        &__num {
            left: 0;
            top: 20px;
        }
        &__name {
            font-size: 16px;
            line-height: 20px;
            padding: 0 15px;
        }
        &__date {
            margin: 0;
        }
        &__number-block {
            margin: 10px 0 0;
        }
    }
}