<% var data = {
    title: "Tropic | Руководство",
    main_block_class: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

    <h1>Руководство</h1>
    <div class="leadership-page">
        <div class="leadership-page__items d-flex flex-wrap">
            <div class="leadership-page__item">
                <div class="leadership-page__pict">
                    <img src="local/uploads/leadership.jpg" alt="">
                </div>
                <div class="leadership-page__box font-condensed">
                    <div class="leadership-page__name">Иванова Екатерина</div>
                    <div class="leadership-page__date">01.01.1980</div>
                    <div class="leadership-page__text">Вице-президент по операционной деятельности или ктото в длиннее</div>
                </div>
            </div>
            <div class="leadership-page__item">
                <div class="leadership-page__pict">
                    <img src="local/uploads/leadership.jpg" alt="">
                </div>
                <div class="leadership-page__box font-condensed">
                    <div class="leadership-page__name">Иванова Екатерина</div>
                    <div class="leadership-page__date">01.01.1980</div>
                    <div class="leadership-page__text">Вице-президент по операционной деятельности или ктото в длиннее</div>
                </div>
            </div>
            <div class="leadership-page__item">
                <div class="leadership-page__pict">
                    <img src="local/uploads/leadership.jpg" alt="">
                </div>
                <div class="leadership-page__box font-condensed">
                    <div class="leadership-page__name">Иванова Екатерина</div>
                    <div class="leadership-page__date">01.01.1980</div>
                    <div class="leadership-page__text">Вице-президент по операционной деятельности</div>
                </div>
            </div>
            <div class="leadership-page__item">
                <div class="leadership-page__pict">
                    <img src="local/uploads/leadership.jpg" alt="">
                </div>
                <div class="leadership-page__box font-condensed">
                    <div class="leadership-page__name">Иванова Екатерина</div>
                    <div class="leadership-page__date">01.01.1980</div>
                    <div class="leadership-page__text">Вице-президент</div>
                </div>
            </div>
        </div>
    </div>

<%= _.template(require('./../includes/footer.html'))(data) %>