<% var data = {
    title: "Tropic | Команды #2",
    main_block_class: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

    <h1>Команды</h1>

    <div class="tab-panel d-none d-md-block">
        <a href="javascript:;" class="tab-panel__item">ХК Тропик (НХЛ)</a>
        <a href="javascript:;" class="tab-panel__item">Тропик НТХЛ</a>
        <a href="javascript:;" class="tab-panel__item">СХК Тропик</a>
        <a href="javascript:;" class="tab-panel__item">Следж-хоккейная команда Тропик</a>
        <a href="javascript:;" class="tab-panel__item tab-panel__item_active">ОКСШОР</a>
    </div>

    <div class="tab-panel-select d-md-none">
        <a href="javascript:;" class="tab-panel-select__item tab-panel-select__item_active">ХК Тропик (НХЛ)</a>
        <div class="tab-panel-select__items">
            <a href="javascript:;" class="tab-panel-select__item">Тропик НТХЛ</a>
            <a href="javascript:;" class="tab-panel-select__item">СХК Тропик</a>
            <a href="javascript:;" class="tab-panel-select__item">Следж-хоккейная команда Тропик</a>
            <a href="javascript:;" class="tab-panel-select__item">ОКСШОР</a>
        </div>
    </div>

    <div class="tab-panel">
        <a href="javascript:;" class="tab-panel__item tab-panel__item_active">2002</a>
        <a href="javascript:;" class="tab-panel__item">2003</a>
        <a href="javascript:;" class="tab-panel__item">2004</a>
        <a href="javascript:;" class="tab-panel__item">2005</a>
        <a href="javascript:;" class="tab-panel__item">2006</a>
    </div>

    <div class="team-page-full">
        <img src="local/uploads/team.big.jpg" alt="">
        <div class="row">
            <div class="col-md-4">
                <div class="team-page-full__title">Тренера</div>
                <div class="team-page-full__items">
                    <div class="team-page-full__item">Иванов Иван</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-page-full__title">Игроки</div>
                <div class="team-page-full__items">
                    <div class="team-page-full__item">01&nbsp;&nbsp;&nbsp;Волобуева Надежда</div>
                    <div class="team-page-full__item">02&nbsp;&nbsp;&nbsp;Выставкин Анатолий</div>
                    <div class="team-page-full__item">03&nbsp;&nbsp;&nbsp;Гордеев Владислав</div>
                    <div class="team-page-full__item">04&nbsp;&nbsp;&nbsp;Крупин Константин</div>
                    <div class="team-page-full__item">05&nbsp;&nbsp;&nbsp;Судак Александр</div>
                    <div class="team-page-full__item">06&nbsp;&nbsp;&nbsp;Следков Даниил</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-page-full__title d-none d-md-block"></div>
                <div class="team-page-full__items">
                    <div class="team-page-full__item">07&nbsp;&nbsp;&nbsp;Кулагин Сергей</div>
                    <div class="team-page-full__item">08&nbsp;&nbsp;&nbsp;Рындин Александр</div>
                    <div class="team-page-full__item">09&nbsp;&nbsp;&nbsp;Юрьев Алесандр</div>
                    <div class="team-page-full__item">10&nbsp;&nbsp;&nbsp;Литвинов Всеволод</div>
                    <div class="team-page-full__item">11&nbsp;&nbsp;&nbsp;Фрилинг Дмитрий</div>
                    <div class="team-page-full__item">12&nbsp;&nbsp;&nbsp;Юрьев Александр</div>
                </div>
            </div>
        </div>
    </div>

<%= _.template(require('./../includes/footer.html'))(data) %>