<% var data = {
    title: "Tropic | Команды",
    main_block_class: ""
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

    <h1>Команды</h1>

    <div class="tab-panel d-none d-md-block">
        <a href="javascript:;" class="tab-panel__item tab-panel__item_active">ХК Тропик (НХЛ)</a>
        <a href="javascript:;" class="tab-panel__item">Тропик НТХЛ</a>
        <a href="javascript:;" class="tab-panel__item">СХК Тропик</a>
        <a href="javascript:;" class="tab-panel__item">Следж-хоккейная команда Тропик</a>
        <a href="javascript:;" class="tab-panel__item">ОКСШОР</a>
    </div>

    <div class="tab-panel-select d-md-none">
        <a href="javascript:;" class="tab-panel-select__item tab-panel-select__item_active">ХК Тропик (НХЛ)</a>
        <div class="tab-panel-select__items">
            <a href="javascript:;" class="tab-panel-select__item">Тропик НТХЛ</a>
            <a href="javascript:;" class="tab-panel-select__item">СХК Тропик</a>
            <a href="javascript:;" class="tab-panel-select__item">Следж-хоккейная команда Тропик</a>
            <a href="javascript:;" class="tab-panel-select__item">ОКСШОР</a>
        </div>
    </div>

    <div class="team-page">
        <div class="h3">Тренер</div>
        <div class="team-page__items d-flex flex-wrap">
            <div class="team-page__item d-flex align-items-center d-sm-block">
                <div class="team-page__pict">
                    <img src="local/uploads/team1.jpg" alt="">
                </div>
                <div class="team-page__box font-condensed">
                    <div class="team-page__name">Худобин Николай</div>
                    <div class="team-page__date">01.01.1980</div>
                 </div>
            </div>
        </div>
        <div class="h3">Вратари</div>
        <div class="team-page__items d-flex flex-wrap">
            <div class="team-page__item d-flex align-items-center d-sm-block">
                <div class="team-page__pict">
                    <img src="local/uploads/team1.jpg" alt="">
                </div>
                <div class="team-page__box font-condensed">
                    <div class="team-page__num">23</div>
                    <div class="team-page__name">Худобин Николай</div>
                    <div class="team-page__date">01.01.1980</div>
                    <div class="team-page__number-block font-condensed d-flex justify-content-between">
                        <div class="team-page__number-item">
                            <b>999</b>
                            <span>Рост</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Возраст</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Вес</span>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="team-page__item d-flex align-items-center d-sm-block">
                <div class="team-page__pict">
                    <img src="local/uploads/team2.jpg" alt="">
                </div>
                <div class="team-page__box font-condensed">
                    <div class="team-page__num">11</div>
                    <div class="team-page__name">Худобин Николай</div>
                    <div class="team-page__date">01.01.1980</div>
                    <div class="team-page__number-block font-condensed d-flex justify-content-between">
                        <div class="team-page__number-item">
                            <b>999</b>
                            <span>Рост</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Возраст</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Вес</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-page__item d-flex align-items-center d-sm-block">
                <div class="team-page__pict">
                    <img src="local/uploads/team3.jpg" alt="">
                </div>
                <div class="team-page__box font-condensed">
                    <div class="team-page__num">17</div>
                    <div class="team-page__name">Худобин Николай</div>
                    <div class="team-page__date">01.01.1980</div>
                    <div class="team-page__number-block font-condensed d-flex justify-content-between">
                        <div class="team-page__number-item">
                            <b>999</b>
                            <span>Рост</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Возраст</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Вес</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-page__item d-flex align-items-center d-sm-block">
                <div class="team-page__pict">
                    <img src="local/uploads/team4.jpg" alt="">
                </div>
                <div class="team-page__box font-condensed">
                    <div class="team-page__num">5</div>
                    <div class="team-page__name">Худобин Николай</div>
                    <div class="team-page__date">01.01.1980</div>
                    <div class="team-page__number-block font-condensed d-flex justify-content-between">
                        <div class="team-page__number-item">
                            <b>999</b>
                            <span>Рост</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Возраст</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Вес</span>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <div class="h3">Нападающие</div>
        <div class="team-page__items d-flex flex-wrap">
            <div class="team-page__item d-flex align-items-center d-sm-block">
                <div class="team-page__pict">
                    <img src="local/uploads/team1.jpg" alt="">
                </div>
                <div class="team-page__box font-condensed">
                    <div class="team-page__num">23</div>
                    <div class="team-page__name">Худобин Николай</div>
                    <div class="team-page__date">01.01.1980</div>
                    <div class="team-page__number-block font-condensed d-flex justify-content-between">
                        <div class="team-page__number-item">
                            <b>999</b>
                            <span>Рост</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Возраст</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Вес</span>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="team-page__item d-flex align-items-center d-sm-block">
                <div class="team-page__pict">
                    <img src="local/uploads/team2.jpg" alt="">
                </div>
                <div class="team-page__box font-condensed">
                    <div class="team-page__num">11</div>
                    <div class="team-page__name">Худобин Николай</div>
                    <div class="team-page__date">01.01.1980</div>
                    <div class="team-page__number-block font-condensed d-flex justify-content-between">
                        <div class="team-page__number-item">
                            <b>999</b>
                            <span>Рост</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Возраст</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Вес</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-page__item d-flex align-items-center d-sm-block">
                <div class="team-page__pict">
                    <img src="local/uploads/team3.jpg" alt="">
                </div>
                <div class="team-page__box font-condensed">
                    <div class="team-page__num">17</div>
                    <div class="team-page__name">Худобин Николай</div>
                    <div class="team-page__date">01.01.1980</div>
                    <div class="team-page__number-block font-condensed d-flex justify-content-between">
                        <div class="team-page__number-item">
                            <b>999</b>
                            <span>Рост</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Возраст</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Вес</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-page__item d-flex align-items-center d-sm-block">
                <div class="team-page__pict">
                    <img src="local/uploads/team4.jpg" alt="">
                </div>
                <div class="team-page__box font-condensed">
                    <div class="team-page__num">5</div>
                    <div class="team-page__name">Худобин Николай</div>
                    <div class="team-page__date">01.01.1980</div>
                    <div class="team-page__number-block font-condensed d-flex justify-content-between">
                        <div class="team-page__number-item">
                            <b>999</b>
                            <span>Рост</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Возраст</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Вес</span>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="team-page__item d-flex align-items-center d-sm-block">
                <div class="team-page__pict">
                    <img src="local/uploads/team4.jpg" alt="">
                </div>
                <div class="team-page__box font-condensed">
                    <div class="team-page__num">5</div>
                    <div class="team-page__name">Худобин Николай</div>
                    <div class="team-page__date">01.01.1980</div>
                    <div class="team-page__number-block font-condensed d-flex justify-content-between">
                        <div class="team-page__number-item">
                            <b>999</b>
                            <span>Рост</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Возраст</span>
                        </div>
                        <div class="team-page__number-item">
                            <b>99</b>
                            <span>Вес</span>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

<%= _.template(require('./../includes/footer.html'))(data) %>