body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray-dark);
    background-color: var(--light);
}
a, a:hover {
    color: var(--gray-dark);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, .h1,
h2, .h2 {
    color: var(--gray-dark);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    margin: 0 0 55px;

    &:before {
        content: "";
        background-color: var(--yellow);
        height: 2px;
        width: 40px;
        position: absolute;
        top: 50%;
        margin: -1px 0 0;
        left: -50px;
    }
}
h3, .h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0 20px;
    text-transform: uppercase;
}

@include media-breakpoint-down(md)
{
    h1, .h1,
    h2, .h2 {
        padding: 0 0 0 30px;
        margin: 0 0 25px;

        &:before {
            width: 20px;
            left: 0;
        }
    }
}
@include media-breakpoint-down(sm)
{
    h1, .h1,
    h2, .h2 {
        font-size: 16px;
    }
}

.white-color {color: var(--white);}

img {
    max-width: 100%;
    height: auto;
}

.font-condensed {font-family: 'Roboto Condensed', sans-serif;}

hr {
    margin: 30px 0;
}